allow audioserver rootfs:lnk_file getattr;
allow audioserver unlabeled:dir { getattr search read open };
allow audioserver unlabeled:file { getattr read open execute };
