type configstore-hal-1-0;
hal_server_domain(configstore-hal-1-0, hal_configstore)

type configstore-hal-1-0_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(configstore-hal-1-0)
