allow init tmpfs:lnk_file create;
allow init kernel:system module_request;
allow init configfs:file write;
allow init configfs:lnk_file { create unlink };
allow init sysfs:dir write;
allow init functionfs:dir mounton;
allow init unlabeled:file { execute execute_no_trans };
allow init vndbinder_device:chr_file { read write open ioctl };
allow init hwservicemanager:binder { call transfer };
allow init unlabeled:dir mounton;
allow init self:capability sys_nice;
allow init self:binder set_context_mgr;
allow init hal_configstore_ISurfaceFlingerConfigs:hwservice_manager add;
allow init hidl_base_hwservice:hwservice_manager add;
allow init hal_graphics_allocator_hwservice:hwservice_manager find;
allow init hal_graphics_composer_hwservice:hwservice_manager find;
allow init gpu_device:chr_file { open write read ioctl };
allow init hal_graphics_allocator_hwservice:hwservice_manager add;
allow init self:netlink_kobject_uevent_socket { create bind read write };
allow init hal_graphics_composer_hwservice:hwservice_manager add;
allow init hal_gatekeeper_hwservice:hwservice_manager find;
allow init sysfs_devices_system_cpu:dir write;
allow init graphics_device:chr_file { open read write ioctl };
allow init hal_omx_hwservice:hwservice_manager add;
allow init ion_device:chr_file ioctl;
