type mcuserver, domain;
type mcuserver_exec, exec_type, file_type;

# class service_manager
allow mcuserver mcuserver_service:service_manager add;

typeattribute mcuserver mlstrustedsubject;

init_daemon_domain(mcuserver)

binder_use(mcuserver)
binder_call(mcuserver, binderservicedomain)
binder_service(mcuserver)

allow mcuserver self:process execmem;
allow mcuserver self:capability { dac_override sys_time };

allow mcuserver console_device:chr_file { read write open ioctl };
allow mcuserver untrusted_app:binder { call };
allow mcuserver rootfs:lnk_file getattr;
allow mcuserver shell_exec:file { open read execute execute_no_trans getattr };
allow mcuserver toolbox_exec:file { getattr execute open read execute_no_trans };
allow mcuserver property_socket:sock_file write;
allow mcuserver init:unix_stream_socket connectto;
allow mcuserver system_prop:property_service set;
